* {
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;

}

body {
    background-color: #f8f8ff;
}

/* NAVIGATION */

#navLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f8f8ff;

}

#navLinks {
  display: block;
  padding: 1em;
  color: grey;
}

#navLinks {
    list-style: none;
    display: flex;
}

#navLinks a:link {
  color: grey;
}

#navLinks a:visited {
  color: #1ba49c;
}

#navLinks a:hover {
  color: #1ba49c;
}

#navLinks a:active {
  color: #1ba49c;
  text-decoration: underline;
}

 
 /* FOOTER */
